*{
  background-color:#3867d6;
}
.container{
  display: flex;
  justify-content: space-around;
  /* width: 120%; */
}

.input-text{
  width: 650px;
  height: 450px;
  border: 3px solid #444b5e;
  border-radius: 10px;
  color: white;
}

.output-text{
  width: 600px;
  height: 500px;
  color:white;
 background-color:#464646;
 border-radius: 10px;
 overflow: auto;
 word-wrap: break-word;
 overflow-wrap:break-word ;
}